/* Place CSS styles here */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #92a8a8;
    color: #383e3e;
    font-size: 16px;
    font-family: monospace;
}

a {
    color: #516b77;
}

h1 {
    color: rgb(28, 44, 37);
}

img {
    width: 250px;
    margin-right: 16px;
    border: 3px solid #c2ece8;
}

div {
    background-color: rgb(83, 111, 122);
    text-align: center;
    padding: 50px;
    max-width: 900px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: 40px auto;
    border: 3px solid #425b5d;
    border-radius: 20px;
}