/* Place CSS styles here */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #92a8a8;
    color: #a8bbbb;
    font-size: 16px;
    font-family: monospace;
}

a {
    color: #516b77;
}

h1 {
    color: rgb(159, 184, 173);
}

img {
    width: 250px;
    margin-right: 16px;
}

div {
    background-color: rgb(83, 111, 122);
    text-align: center;
    padding: 40px;
    max-width: 900px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: 40px auto;
    border: 8px solid #425b5d;
    border-radius: 20px;
}

.maintext {
    font-size: larger;
    color: cornsilk;
    text-align: center;
}

.paragraph {
    color: rgb(244, 253, 255);
    text-align: justify;
}

.portrait {
    border: 12px;
    border-radius: 50%;
    width: 200px;
    padding: 40px;
}

.emphasis {
    color: rgb(196, 253, 110);
    font-weight: 700;
}

.list {
    color: rgb(196, 253, 110);
}

.Selector {
    color: #a8bbbb;
    font-size: larger;
}

a:visited {
    color: cornsilk;
}